<section class="temp3">
  <style>
    

  </style>

  <section class="temp3--title">
    <h2 class="temp3--title--heading">PEOPLE YOU MAY WISH TODAY.....</h2>
  </section>
  <div class="slimScrollDiv" style="position: relative;max-height: 420px;overflow-y: scroll;width: auto;">
  <div class="temp3--birthday">
      <ul
        class="temp3--birthday--list"
        style="list-style: none;"
        ng-repeat="x in temp3Ctrl.birthdays"
      >
        <li ng-if="$index%2==0";">
          <div class="temp3--birthday--div">
            <div class="container" >
              <div class="row temp3--main">
                <div class="col-5">
                  <div class="temp3--imgContainer">
                    <img
                      ng-src="./templates/img/balloons.png"
                      class="temp3--images--left"
                      alt="balloons"
                    />
                  </div>
                </div>
                <div class="col-7">
                  <div
                    class="temp3--birthday--data temp3--birthday--data__left"
                  >
                    <div class="row">
                      <div class="col-12">
                        <a href="#" class="temp3--name" style="color: #1199d3;"
                          >{{x.name}}</a
                        >
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <p>
                          <span class="temp3--span--title">Course : </span>
                          <span class="temp3--span--value">{{x.course}}</span
                          ><span class="temp3--span--title">
                            Department :
                          </span>
                          <span class="temp3--span--value"
                            >{{x.department}}</span
                          ><span class="temp3--span--title"> Year :</span>

                          <span class="temp3--span--value">{{x.year}}</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li ng-if="$index%2!=0">
          <div class="temp3--birthday--div">
            <div class="container">
              <div class="row temp3--main">
                <div class="col-7">
                  <div
                    class="temp3--birthday--data temp3--birthday--data__right"
                  >
                    <div class="row">
                      <div class="col-12">
                        <a href="#" class="temp3--name" style="color: #e05d6f;"
                          >{{x.name}}</a
                        >
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <p>
                          <span class="temp3--span--title">Course : </span>
                          <span class="temp3--span--value">{{x.course}}</span
                          ><span class="temp3--span--title">
                            Department :
                          </span>
                          <span class="temp3--span--value"
                            >{{x.department}}</span
                          ><span class="temp3--span--title"> Year :</span>

                          <span class="temp3--span--value">{{x.year}}</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-5">
                  <div class="temp3--imgContainer">
                    <img
                      ng-src="./templates/img/cake.png"
                      class="temp3--images--right img-fluid"
                      alt="balloons"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
  </div>
    </div>
    <!-- </section> -->
  </div>
</div>
</section>
