<style>
  .temp4 {
    border-radius: 0.25rem;
    /* padding: 0.5rem 1rem; */
    background: var(--color-background--template);
    animation: topAnimation 0.5s;
  }
  .temp4--title--heading {
    font-style: inherit;
    color: var(--color-heading-template);
    font-weight: 700;
    padding: 1rem 1.5rem;
    letter-spacing: 0.2rem;
  }
</style>
<div class="temp4">
  <div class="temp4--title">
    <h2 class="temp4--title--heading text-center">CT MARKS</h2>
  </div>
  <canvas id="myChart1"></canvas>
</div>
