<div class="temp5">
  <div class="temp5--title">
    <h2 class="temp5--title--heading text-center">TIME TABLE</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 col-12">
        <div class="temp5--time_table">
          <div ng-repeat="x in temp5Ctrl.timetable">
            <div class="container">
              <div class="row">
                <div class="col-2">
                  <div class="temp5--time_table--period_number text-center">
                    {{$index+1}}
                  </div>
                  <div class="temp5--time_table--periodline" ng-if="! $last">
                    <!-- &darr; -->
                  </div>
                </div>
                <div class="col-10">
                  <p class="temp5--time_table--subject_name">
                    {{x.subject_name}}
                  </p>
                  <p class="temp5--time_table--subject_details">
                    <span class="temp5--time_table--class_type"
                      >({{x.class_type}}) -
                    </span>
                    <span class="temp5--time_table--subject_teacher"
                      >{{x.subject_teacher}}</span
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- class_type: "LAB"
id: 1
subject_name: "DISCRETE STRUCTURE & LOGIC LAB"
subject_teacher: "NEHA GUPTA, ARTI SHARMA"
 -->
</div>
