/* used in breadcrumb, username and template1 */
@keyframes topAnimation {
  0% {
    transform: translateY(-10vh);
    opacity: 0;
  }
  75% {
    /* opacity: 0.4; */
  }
  100% {
    transform: translateY(0vh);
    opacity: 1;
  }
}

@media screen and (min-width: 700px) {
  @keyframes myCalendarAnimate {
    0% {
      transform: translateX(-10vw);
      opacity: 0;
    }
    75% {
      /* opacity: 0.5; */
    }
    100% {
      transform: translateX(0vw);
      opacity: 1;
    }
  }
}

@media screen and (min-width: 700px) {
  @keyframes mytemp3Animate {
    0% {
      transform: translateX(10vw);
      opacity: 0;
    }
    75% {
    }
    100% {
      transform: translateX(0vw);
      opacity: 1;
    }
  }
}

@keyframes Dark_light {
  0% {
    opacity: 0;
  }
  75% {
    /* opacity: 0.4; */
  }
  100% {
    opacity: 1;
  }
}

.http-loader {
  /* background-size: cover; */
  background: var(--color-background);
  background-size: cover;
  height: 100vh;
  z-index: 999999999;
  position: relative;
  /* overflow: hidden; */
  /* position: relative; */
}

.loader {
  position: absolute;
  top: 40%;
  left: 45%;
  width: 75px;
  height: 100px;
}

.loader__bar {
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 50px;
  background: var(--color-dark-primary);
  transform-origin: center bottom;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.loader__bar:nth-child(1) {
  left: 0px;
  transform: scale(1, 0.2);
  animation: barUp1 4s infinite;
}

.loader__bar:nth-child(2) {
  left: 15px;
  transform: scale(1, 0.4);
  animation: barUp2 4s infinite;
}

.loader__bar:nth-child(3) {
  left: 30px;
  transform: scale(1, 0.6);
  animation: barUp3 4s infinite;
}

.loader__bar:nth-child(4) {
  left: 45px;
  transform: scale(1, 0.8);
  animation: barUp4 4s infinite;
}

.loader__bar:nth-child(5) {
  left: 60px;
  transform: scale(1, 1);
  animation: barUp5 4s infinite;
}

.loader__ball {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  background: var(--color-dark-primary);
  border-radius: 50%;
  animation: ball 4s infinite;
}

@keyframes ball {
  0% {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(8px, -14px);
  }
  10% {
    transform: translate(15px, -10px);
  }
  17% {
    transform: translate(23px, -24px);
  }
  20% {
    transform: translate(30px, -20px);
  }
  27% {
    transform: translate(38px, -34px);
  }
  30% {
    transform: translate(45px, -30px);
  }
  37% {
    transform: translate(53px, -44px);
  }
  40% {
    transform: translate(60px, -40px);
  }
  50% {
    transform: translate(60px, 0);
  }
  57% {
    transform: translate(53px, -14px);
  }
  60% {
    transform: translate(45px, -10px);
  }
  67% {
    transform: translate(37px, -24px);
  }
  70% {
    transform: translate(30px, -20px);
  }
  77% {
    transform: translate(22px, -34px);
  }
  80% {
    transform: translate(15px, -30px);
  }
  87% {
    transform: translate(7px, -44px);
  }
  90% {
    transform: translate(0, -40px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes barUp1 {
  0% {
    transform: scale(1, 0.2);
  }
  40% {
    transform: scale(1, 0.2);
  }
  50% {
    transform: scale(1, 1);
  }
  90% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 0.2);
  }
}

@keyframes barUp2 {
  0% {
    transform: scale(1, 0.4);
  }
  40% {
    transform: scale(1, 0.4);
  }
  50% {
    transform: scale(1, 0.8);
  }
  90% {
    transform: scale(1, 0.8);
  }
  100% {
    transform: scale(1, 0.4);
  }
}

@keyframes barUp3 {
  0% {
    transform: scale(1, 0.6);
  }
  100% {
    transform: scale(1, 0.6);
  }
}

@keyframes barUp4 {
  0% {
    transform: scale(1, 0.8);
  }
  40% {
    transform: scale(1, 0.8);
  }
  50% {
    transform: scale(1, 0.4);
  }
  90% {
    transform: scale(1, 0.4);
  }
  100% {
    transform: scale(1, 0.8);
  }
}

@keyframes barUp5 {
  0% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.2);
  }
  90% {
    transform: scale(1, 0.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  /* color: #cdc8c0; */
}

body {
  font-family: "Open Sans", sans-serif;
  position: relative;
  --color-dark-primary: #cdc8c0;
  --color-dark-secondary: #6c757d;
  --color-background: #2e2e2e;
  --color-background--template: #1b1b1b;
  --color-heading-template: #1199d3;
  --color-table-overall-attendance: black;
  --color--timetable--period_number: black;
  --color-sidenav-background: #111;
  --color-sidenav-a-tag: var(--color-dark-primary);
  --color-birthday-main-background: #222;
  --color-birthday-li-background: #111;
}

body .temp1,
body .temp2,
body .temp3,
body .temp4,
body .temp5,
body .user__name,
body .breadcrumb__div {
  box-shadow: 0px 0px 25px -8px #2e4a75;
}

body.light {
  --color-dark-primary: rgb(83, 82, 82);
  --color-dark-secondary: rgb(83, 82, 82);
  --color-background: #f1f4fe;
  --color-background--template: #fff;
  --color-heading-template: #1199d3;
  --color-table-overall-attendance: #1199d3;
  --color--timetable--period_number: white;
  --color-sidenav-background: white;
  --color-sidenav-a-tag: black;
  --color-birthday-main-background: #1199d3;
  --color-birthday-li-background: white;
}

body.light .temp1,
body.light .temp2,
body.light .temp3,
body.light .temp4,
body.light .temp5,
body.light .user__name,
body.light .breadcrumb__div {
  box-shadow: 0px 0px 12px -2px rgba(46, 74, 117, 0.37);
}

.document_transition {
  animation: Dark_light 1s;
}

/* Scrollbar styling */
/* width */
::-webkit-scrollbar {
  width: 0.45rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-background);
  /* background: #f1f1f1; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-background--template);
  /* background: #888; */
}

/* Handle on hover */
/* background: #555; */
/* #1b1b1b */
.navbar {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  z-index: 9999;
}

.navbar-styling a {
  color: white !important;
  font-size: 1.3rem;
}

.navbar-styling {
  color: white !important;
  background: linear-gradient(90deg, #137aa9 0, #23a9e6);
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
}

.navbar-brand-primary {
  font-weight: 600;
}

z .navbar-brand-secondary {
  font-weight: 300;
}

.navbar-toggler {
  background-color: transparent !important;
}

/* .navbar-brand {
  margin-left: 3rem;
} */
.sidenav {
  height: 100vh;
  width: 0;
  opacity: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: var(--color-sidenav-background);
  overflow-x: hidden;
  transition: all 0.5s;
  padding-top: 60px;
  box-shadow: inset 0px 0px 13px 0px rgba(46, 74, 117, 0.8);
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.2s;
}

.sidenav a:hover .sidenav__icon {
  color: var(--color-sidenav-a-tag) !important;
}

.sidenav__icon {
  margin-right: 1rem;
  float: right;
  color: #818181;
}

.fas {
  color: white;
  font-size: 1.5rem;
}

.closed_state {
  /* width: 0px; */
  opacity: 0;
}

.open_state {
  width: 250px;
  opacity: 1;
}

.main {
  margin-top: 3.4rem;
  background-color: var(--color-background);
  /* background-size: 100% 100%; */
  /* width: 100%; */
  /* height: 200vh; */
  color: var(--color-dark-primary);
  font-family: "Open Sans", sans-serif;
  padding: 1.5rem;
}

.main__section--content {
  margin-left: 250px;
  transition: margin-left 0.5s;
}

/* breadcrumb */
/* the breadcrumb is not dynamic */
.breadcrumb__div ol {
  padding: 0.5rem 0.8rem;
  background-color: var(--color-background--template) !important;
  font-size: 0.7rem;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  animation: topAnimation 0.5s;
}

.breadcrumb a {
  color: var(--color-dark-primary) !important;
}

.breadcrumb-item {
  color: var(--color-dark-primary) !important;
}

.breadcrumb-item.active {
  color: #007bff !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  padding-right: 0.5rem;
  color: #6c757d;
  content: ">" !important;
}

/* this deals with the username */
.user__name {
  animation: topAnimation 0.5s;
}

.user__name--h2 {
  font-weight: 600;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  background-color: var(--color-background--template);
}

/* Media Queries to make everything better :) */
@media screen and (max-width: 900px) {
  html {
    font-size: 15px;
  }
  .fas {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 576px) {
  .main__section--content {
    margin-left: 0px;
  }
  .user__name--h2--span {
    display: block;
  }
}

.temp1 {
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  background: var(--color-background--template);
  animation: topAnimation 0.5s;
}

.temp1--title--heading {
  font-style: inherit;
  color: var(--color-heading-template);
  font-weight: 700;
  padding: 1rem 1.5rem;
  letter-spacing: 0.2rem;
}

.temp1--table {
  padding: 2rem;
  font-family: "Open Sans", sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: var(--color-dark-primary);
}

.temp1--table td,
.temp1--table th {
  border-top: 0;
  /* border: 1px solid #ddd; */
  padding: 8px;
}

.temp1--table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: transparent;
  color: white;
}

.temp1--table--overall_attendance {
  background-color: var(--color-table-overall-attendance);
  color: #fff;
  font-weight: 600;
}

#myChart {
  margin: 1rem 0;
}

.temp2 {
  border-radius: 0.25rem;
  animation: myCalendarAnimate 0.5s;
  /* padding: 0 1rem !important; */
  height: 100%;
  width: 100%;
  background: var(--color-background--template);
  /* overflow: hidden; */
  /* height: inherit; */
  /* width: 100%; */
}

.temp2--calendar {
  padding: 0.5rem;
}

.temp2--title--heading {
  font-style: inherit;
  color: var(--color-heading-template);
  font-weight: 700;
  padding: 1rem 1.5rem 0 1.5rem;
  /* letter-spacing: 0.2rem; */
}

.temp3 {
  border-radius: 0.25rem;
  animation: mytemp3Animate 0.5s;
  height: 100%;
  width: 100%;
  border-radius: 0.25rem;
  /* background: var(--color-background--template); */
  background: var(--color-birthday-main-background);
}

.temp3--main {
  background-color: var(--color-birthday-li-background);
  padding: 1rem 0;
}

ul .temp3--birthday--list {
  padding: 0.5rem 0;
}

.temp3--birthday--list .container {
  height: 10% !important;
}

.temp3--birthday--div {
  padding: 1rem;
}

.temp3--title--heading {
  font-style: inherit;
  color: white;
  /* color: var(--color-heading-template); */
  font-weight: 700;
  padding: 1rem 1.5rem 1rem 1.5rem;
  /* letter-spacing: 0.2rem; */
}

.temp3--imgContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* height: 10px; */
}

.temp3--birthday--data {
  height: 100%;
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  /* flex-direction: column; */
}

.temp3--birthday--data__left {
  box-shadow: -3px 0px 0px 0px #00ccff;
  /* outline-left: 0.2rem solid orange; */
  border-left: 0.5rem solid transparent;
  /* border-left: 0.2rem solid orange; */
}

.temp3--birthday--data__right {
  box-shadow: 3px 0px 0px 0px #e05d6f;
  /* outline-left: 0.2rem solid orange; */
  border-right: 0.5rem solid transparent;
  /* border-left: 0.2rem solid orange; */
}

.temp3--images--left, .temp3--images--right {
  height: 50%;
  width: 100%;
}

.temp3--span--title {
  color: gray;
  font-size: 0.85rem;
  font-weight: 700;
}

.temp3--span--value {
  color: gray;
  font-size: 0.85rem;
}

.temp4 {
  border-radius: 0.25rem;
  /* padding: 0.5rem 1rem; */
  background: var(--color-background--template);
  animation: topAnimation 0.5s;
}

.temp4--title--heading {
  font-style: inherit;
  color: var(--color-heading-template);
  font-weight: 700;
  padding: 2rem 0rem;
  letter-spacing: 0.2rem;
}

.temp5 {
  border-radius: 0.25rem;
  /* padding: 0.5rem 1rem; */
  background: var(--color-background--template);
  animation: topAnimation 0.5s;
}

.temp5--title--heading {
  font-style: inherit;
  color: var(--color-heading-template);
  font-weight: 700;
  padding: 1rem 1.5rem;
  letter-spacing: 0.2rem;
}

.temp5--time_table {
  padding: 0 0.5rem 0.5rem 0.5rem;
}

.temp5--time_table--period_number {
  color: var(--color--timetable--period_number);
  background-color: red;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  display: inline-block;
  font-weight: 700 !important;
  /* border: 0.1rem solid black; */
  box-shadow: 0px 0px 0px 3px black;
}

.temp5--time_table--subject_name {
  font-weight: 600;
  margin-bottom: 0;
}

.temp5--time_table--subject_teacher {
  font-weight: 300;
}

.temp5--time_table--periodline {
  margin-left: 0.7rem;
  border-left: 2px solid red;
  height: 100%;
}
