/* used in breadcrumb, username and template1 */

@keyframes topAnimation {
  0% {
    transform: translateY(-10vh);
    opacity: 0;
  }
  75% {
    /* opacity: 0.4; */
  }
  100% {
    transform: translateY(0vh);
    opacity: 1;
  }
}

@media screen and (min-width: 700px) {
  @keyframes myCalendarAnimate {
    0% {
      transform: translateX(-10vw);
      opacity: 0;
    }
    75% {
      /* opacity: 0.5; */
    }
    100% {
      transform: translateX(0vw);
      opacity: 1;
    }
  }
}

@media screen and (min-width: 700px) {
  @keyframes mytemp3Animate {
    0% {
      transform: translateX(10vw);
      opacity: 0;
    }
    75% {
    }
    100% {
      transform: translateX(0vw);
      opacity: 1;
    }
  }
}

@keyframes Dark_light {
  0% {
    opacity: 0;
  }
  75% {
    /* opacity: 0.4; */
  }
  100% {
    opacity: 1;
  }
}
