$color-dark-primary: #cdc8c0;
$color-dark-secondary: #6c757d;
$color-background: #2e2e2e;
$color-background--template: #1b1b1b;
$color-heading-template: #1199d3;

// loader

$bar-color: #fff;
$ball-color: #fff;
$bg-color: #ea4961;
